html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "ReformaGroteskDemi";
  src: url("ReformaGroteskDemi.eot");
  src: local("ReformaGroteskDemiC Regular"), local("ReformaGroteskDemi"),
    url("ReformaGroteskDemi.eot?#iefix") format("embedded-opentype"),
    url("ReformaGroteskDemi.woff2") format("woff2"),
    url("ReformaGroteskDemi.woff") format("woff"),
    url("ReformaGroteskDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ReformaGroteskDemi";
  src: url("ReformaGroteskDemi.eot");
  src: local("Reforma Grotesk Demi"), local("ReformaGroteskDemi"),
    url("ReformaGroteskDemi.eot?#iefix") format("embedded-opentype"),
    url("ReformaGroteskDemi.woff2") format("woff2"),
    url("ReformaGroteskDemi.woff") format("woff"),
    url("ReformaGroteskDemi.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ReformaGroteskDemi";
  src: url("ReformaGroteskDemi.eot");
  src: local("Reforma Grotesk Demi"), local("ReformaGroteskDemi"),
    url("ReformaGroteskDemi.eot?#iefix") format("embedded-opentype"),
    url("ReformaGroteskDemi.woff2") format("woff2"),
    url("ReformaGroteskDemi.woff") format("woff"),
    url("ReformaGroteskDemi.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px;

  font-family: "ReformaGroteskDemi", sans-serif;
  font-weight: 400;
  background-color: #1e1e1e;
}

/* *** *** *** GLOBAL *** *** *** */

.container {
  width: 1920px;
  margin: 0 auto;
  padding: 35px 0 35px 0;
  max-width: 100%;
  background-color: #1e1e1e;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section-descr {
  margin: 0;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* *** *** HEADER *** *** */

.header {
  width: 1920px;
  height: 1080px;
}

.slideshow {
  width: 1920px;
  height: 1080px;
  border: 1px solid #999;
  background: url(../img/header/bckg-01.jpg) no-repeat,
    url(../img/header/bckg-02.jpg) no-repeat,
    url(../img/header/bckg-03.jpg) no-repeat,
    url(../img/header/bckg-04.jpg) no-repeat;

  animation: slide-right 15s forwards 1s;
}
@keyframes slide-right {
  0% {
    background-position: 0 0, 600px 0, 1200px 0, 1800px 0;
  }
  16%,
  33% {
    background-position: -600px 0, 600px 0, 1200px 0, 1800px 0;
  }
  49%,
  66% {
    background-position: -1200px 0, 600px 0, 1200px 0, 1800px 0;
  }
  85%,
  100% {
    background-position: -1800px 0, 600px 0, 1200px 0, 1800px 0;
  }
}
/* Slider */
.swiper-slide img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.swiper {
  width: 1600px;
  margin: 0 auto;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper-button-prev {
  margin-right: 10px;
}
